@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", 나눔고딕, "Nanum Gothic", "Noto Sans KR", "Noto Sans CJK KR", arial, 돋움, Dotum, Tahoma, Geneva, sans-serif;
}

.home-box {
  background: rgba(35,35,155, 0.5);
  aspect-ratio: 1/1;
  width: 2.5rem;
  color: white;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  cursor:pointer;
}
.menu-box {
  display: flex;
}
.menu-box > a {
  font-size: 1.1rem;
  font-weight: lighter;
  margin-left: 10px;
}
.active {
  font-weight: normal!important;
}
.text-es {
  font-size: 0.6rem;
}
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 15px 45px;
}
.post-content > ul > li {
  list-style-type: disc;
}
.post-content > ul > li > ul{
  list-style-type: circle;
}
.post-content > ul > li > ul > li > ul{
  list-style-type: square;
}
.markdown-body h2 {
  padding-left: 0.5rem;
  font-size: 2em!important;
}
.markdown-body h3 {
  padding-left: 0.5rem;
  font-size: 1.5em!important;
}
.markdown-body hr {
  margin: 12px 0!important;
}
@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}